@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100vw;
  box-shadow: 0px 3px 6px #00000029;
}
section.header div.container div.main_logo_navigation {
  padding: 0 25px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.header div.container div.main_logo_navigation div.logo {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: #08a6e4;
}
section.header div.container div.main_logo_navigation div.navigation {
  font-family: "Open-Sans", sans-serif;
  position: relative;
  width: 40px;
  height: 40%;
}
section.header div.container div.main_logo_navigation div.navigation input {
  position: absolute;
  right: 25px;
  top: 0;
  width: 50px;
  height: 100%;
  opacity: 0;
  z-index: 10;
}
section.header div.container div.main_logo_navigation div.navigation input:checked + span {
  transform: rotate(30deg);
  transform-origin: 0 100%;
}
section.header div.container div.main_logo_navigation div.navigation input:checked + span + span {
  opacity: 0;
}
section.header div.container div.main_logo_navigation div.navigation input:checked + span + span + span {
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
section.header div.container div.main_logo_navigation div.navigation input:checked ~ nav.navigation {
  top: 50px;
}
section.header div.container div.main_logo_navigation div.navigation input:hover {
  cursor: pointer;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation input {
    display: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation span.first {
  position: absolute;
  right: 25px;
  top: 0;
  width: 100%;
  height: 0;
  border: 3px solid #08a6e4;
  border-radius: 3px;
  transform-origin: 0 100%;
  transition: transform 0.5s ease-in-out;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.first {
    display: none;
  }
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.first {
    display: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation span.second {
  position: absolute;
  right: 25px;
  top: 12px;
  width: 100%;
  height: 0;
  border: 3px solid #08a6e4;
  border-radius: 3px;
  transition: opacity 0.5s ease-in-out;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.second {
    display: none;
  }
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.second {
    display: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation span.third {
  position: absolute;
  right: 25px;
  top: 24px;
  width: 100%;
  height: 0;
  border: 3px solid #08a6e4;
  border-radius: 3px;
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.third {
    display: none;
  }
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.third {
    display: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation {
  position: absolute;
  right: -11px;
  top: -350px;
  width: 100vw;
  height: 176px;
  box-shadow: 0px 3px 6px #00000029;
  transition: top 0.5s ease-in-out;
  background-color: #fff;
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation ul {
  list-style-type: none;
  padding: 20px 0 0 40px;
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a {
  text-decoration: none;
  font-size: 0.9em;
  line-height: 2.5em;
  letter-spacing: 3.28px;
  color: #A5A5A5;
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a.active {
  font-weight: 700;
  color: #000;
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a:hover {
  font-weight: 700;
  color: #000;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation nav.navigation {
    right: 11px;
    top: -21px;
    width: 600px;
    height: 50px;
    box-shadow: none;
  }
  section.header div.container div.main_logo_navigation div.navigation nav.navigation ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a {
    text-decoration: none;
    margin-top: 30px;
    padding: 0 10px 0 10px;
    height: 100%;
    line-height: 2.5em;
    letter-spacing: 3.28px;
    color: #A5A5A5;
  }
  section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a.active {
    font-weight: 700;
    color: #000;
    border-bottom: 4px solid #08a6e4;
    transform: translateY(4px);
  }
  section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a:hover {
    font-weight: 700;
    color: #000;
    border-bottom: 4px solid #08a6e4;
    transform: translateY(4px);
  }
}

section.opening {
  width: 100vw;
}
section.opening div.container div.opening {
  width: 100%;
  height: 712px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/background.png) no-repeat center bottom;
}
section.opening div.container div.opening h1.opening_title {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 30px;
}
section.opening div.container div.opening p.opening_paragraph {
  max-width: 440px;
  width: 65%;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
section.opening div.container div.opening a.opening_link {
  display: block;
  text-decoration: none;
  max-width: 440px;
  width: 70%;
  border-radius: 40px;
  text-align: center;
  font-size: 1em;
  color: #fff;
  background-color: #08a6e4;
  padding: 20px;
  box-shadow: 5px 10px 14px #07ACE629;
}
@media only screen and (min-width:1352px) {
  section.opening div.container div.opening a.opening_link {
    width: 440px;
  }
}
@media only screen and (min-width:1352px) {
  section.opening div.container div.opening {
    background: none;
  }
}
@media only screen and (min-width:1352px) {
  section.opening {
    background: url(../assets/background.png) no-repeat center bottom/contain;
  }
}

section.statistics {
  width: 100vw;
  box-shadow: 0px -5px 80px #00000029;
}
section.statistics div.container div.statistics {
  height: 762px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
section.statistics div.container div.statistics h2.statistics_title {
  max-width: 80%;
  font-family: "Raleway", sans-serif;
  font-size: 2.1em;
  font-weight: 400;
  text-align: center;
}
section.statistics div.container div.statistics div.stats div.single_stats {
  width: 180px;
  height: 170px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section.statistics div.container div.statistics div.stats div.single_stats div.stats_icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: relative;
}
section.statistics div.container div.statistics div.stats div.single_stats p.stats_value {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: 800;
  text-align: center;
}
section.statistics div.container div.statistics div.stats div.single_stats p.stats_description {
  width: 60%;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
}
section.statistics div.container div.statistics div.stats div.single_stats .person {
  background-color: #fb3b64;
}
section.statistics div.container div.statistics div.stats div.single_stats .person:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  width: 44px;
  height: 52px;
  background-image: url(../assets/person.svg);
}
section.statistics div.container div.statistics div.stats div.single_stats .eye {
  background-color: #07ace6;
}
section.statistics div.container div.statistics div.stats div.single_stats .eye:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 30%;
  width: 66px;
  height: 37px;
  background-image: url(../assets/eye.svg);
}
section.statistics div.container div.statistics div.stats div.single_stats .folder {
  background-color: #55dfb4;
}
section.statistics div.container div.statistics div.stats div.single_stats .folder:after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 52px;
  height: 48px;
  background-image: url(../assets/catalog.svg);
}
@media only screen and (min-width:1352px) {
  section.statistics div.container div.statistics div.stats {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width:1352px) {
  section.statistics div.container div.statistics {
    height: 331px;
    padding: 100px 0;
  }
}

body {
  box-sizing: border-box;
  font-family: "Open-Sans", sans-serif;
}

.container {
  width: 100%;
  min-width: 260px;
}
@media only screen and (min-width:1352px) {
  .container {
    width: 1352px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */
