@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100vw;
  box-shadow: 0px 3px 6px #00000029;
}
section.header div.container div.main_logo_navigation {
  padding: 0 25px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.header div.container div.main_logo_navigation div.logo {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: #08a6e4;
}
section.header div.container div.main_logo_navigation div.navigation {
  font-family: "Open Sans", sans-serif;
  position: relative;
  width: 40px;
  height: 40%;
}
section.header div.container div.main_logo_navigation div.navigation input {
  position: absolute;
  right: 15px;
  top: 0;
  width: 50px;
  height: 100%;
  opacity: 0;
  z-index: 10;
}
section.header div.container div.main_logo_navigation div.navigation input:checked + span {
  transform: rotate(30deg);
  transform-origin: 0 100%;
}
section.header div.container div.main_logo_navigation div.navigation input:checked + span + span {
  opacity: 0;
}
section.header div.container div.main_logo_navigation div.navigation input:checked + span + span + span {
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
section.header div.container div.main_logo_navigation div.navigation input:checked ~ nav.navigation {
  top: 50px;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation input:checked ~ nav.navigation {
    right: 11px;
    top: -21px;
    width: 600px;
    height: 50px;
    box-shadow: none;
    transition: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation input:hover {
  cursor: pointer;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation input {
    display: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation span.first {
  position: absolute;
  right: 25px;
  top: 0;
  width: 100%;
  height: 0;
  border: 3px solid #08a6e4;
  border-radius: 3px;
  transform-origin: 0 100%;
  transition: transform 0.5s ease-in-out;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.first {
    display: none;
  }
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.first {
    display: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation span.second {
  position: absolute;
  right: 25px;
  top: 12px;
  width: 100%;
  height: 0;
  border: 3px solid #08a6e4;
  border-radius: 3px;
  transition: opacity 0.5s ease-in-out;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.second {
    display: none;
  }
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.second {
    display: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation span.third {
  position: absolute;
  right: 25px;
  top: 24px;
  width: 100%;
  height: 0;
  border: 3px solid #08a6e4;
  border-radius: 3px;
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.third {
    display: none;
  }
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation span.third {
    display: none;
  }
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation {
  position: absolute;
  right: -25px;
  top: -350px;
  width: 100vw;
  height: 176px;
  box-shadow: 0px 3px 6px #00000029;
  transition: top 0.5s ease-in-out;
  background-color: #fff;
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation ul {
  list-style-type: none;
  padding: 20px 0 0 40px;
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a {
  text-decoration: none;
  font-size: 0.9em;
  line-height: 2.5em;
  letter-spacing: 3.28px;
  color: #A5A5A5;
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a.active {
  font-weight: 700;
  color: #000;
}
section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a:hover {
  font-weight: 700;
  color: #000;
}
@media only screen and (min-width:1352px) {
  section.header div.container div.main_logo_navigation div.navigation nav.navigation {
    right: 11px;
    top: -21px;
    width: 600px;
    height: 50px;
    box-shadow: none;
    transition: none;
  }
  section.header div.container div.main_logo_navigation div.navigation nav.navigation ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a {
    text-decoration: none;
    margin-top: 30px;
    padding: 0 10px 0 10px;
    height: 100%;
    line-height: 2.5em;
    letter-spacing: 3.28px;
    color: #A5A5A5;
  }
  section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a.active {
    font-weight: 700;
    color: #000;
    border-bottom: 4px solid #08a6e4;
    transform: translateY(4px);
  }
  section.header div.container div.main_logo_navigation div.navigation nav.navigation ul a:hover {
    font-weight: 700;
    color: #000;
    border-bottom: 4px solid #08a6e4;
    transform: translateY(4px);
  }
}

section.opening {
  width: 100vw;
}
section.opening div.container div.opening {
  width: 100%;
  height: 512px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/background.png) no-repeat center bottom/200%;
}
section.opening div.container div.opening h1.opening_title {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 30px;
}
section.opening div.container div.opening p.opening_paragraph {
  max-width: 440px;
  width: 65%;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
section.opening div.container div.opening a.opening_link {
  display: block;
  text-decoration: none;
  max-width: 440px;
  width: 70%;
  border-radius: 40px;
  text-align: center;
  font-size: 1em;
  color: #fff;
  background-color: #08a6e4;
  padding: 20px;
  box-shadow: 5px 10px 14px #07ACE629;
}
@media only screen and (min-width:1352px) {
  section.opening div.container div.opening a.opening_link {
    width: 440px;
  }
}
@media only screen and (min-width:1352px) {
  section.opening div.container div.opening {
    height: 712px;
    background: none;
  }
}
@media only screen and (min-width:1352px) {
  section.opening {
    background: url(../assets/background.png) no-repeat center bottom/contain;
  }
}

section.statistics {
  width: 100vw;
  box-shadow: 0px -5px 80px #00000029;
}
section.statistics div.container div.statistics {
  height: 762px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
section.statistics div.container div.statistics h2.statistics_title {
  max-width: 80%;
  font-family: "Raleway", sans-serif;
  font-size: 2.1em;
  font-weight: 400;
  text-align: center;
}
section.statistics div.container div.statistics div.stats div.single_stats {
  width: 180px;
  height: 170px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section.statistics div.container div.statistics div.stats div.single_stats div.stats_icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: relative;
}
section.statistics div.container div.statistics div.stats div.single_stats p.stats_value {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: 800;
  text-align: center;
}
section.statistics div.container div.statistics div.stats div.single_stats p.stats_description {
  width: 60%;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
}
section.statistics div.container div.statistics div.stats div.single_stats .person {
  background-color: #fb3b64;
}
section.statistics div.container div.statistics div.stats div.single_stats .person:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  width: 44px;
  height: 52px;
  background-image: url(../assets/person.svg);
}
section.statistics div.container div.statistics div.stats div.single_stats .eye {
  background-color: #07ace6;
}
section.statistics div.container div.statistics div.stats div.single_stats .eye:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 30%;
  width: 66px;
  height: 37px;
  background-image: url(../assets/eye.svg);
}
section.statistics div.container div.statistics div.stats div.single_stats .folder {
  background-color: #55dfb4;
}
section.statistics div.container div.statistics div.stats div.single_stats .folder:after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 52px;
  height: 48px;
  background-image: url(../assets/catalog.svg);
}
@media only screen and (min-width:1352px) {
  section.statistics div.container div.statistics div.stats {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width:1352px) {
  section.statistics div.container div.statistics {
    height: 331px;
    padding: 100px 0;
  }
}

section.benefits {
  width: 100vw;
  background-color: #f7f7f7;
}
section.benefits div.container div.articles {
  padding: 60px;
}
section.benefits div.container div.articles article.benefits_article {
  margin: 40px 0;
  background-color: #fff;
  border: 1px solid #E8E9ED;
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article {
    display: flex;
    padding: 90px 35px;
  }
  section.benefits div.container div.articles article.benefits_article:first-child {
    flex-direction: row-reverse;
  }
  section.benefits div.container div.articles article.benefits_article:first-child div.benefits_data {
    position: relative;
  }
  section.benefits div.container div.articles article.benefits_article:first-child div.benefits_data:after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 320px;
    height: 10px;
    border-bottom: 4px solid #fb3b64;
  }
  section.benefits div.container div.articles article.benefits_article:nth-child(2) div.benefits_data {
    position: relative;
  }
  section.benefits div.container div.articles article.benefits_article:nth-child(2) div.benefits_data:after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 320px;
    height: 320px;
    border-bottom: 4px solid #07ace6;
  }
  section.benefits div.container div.articles article.benefits_article:nth-child(3) {
    width: 45%;
    position: relative;
  }
  section.benefits div.container div.articles article.benefits_article:nth-child(3):before {
    content: "";
    position: absolute;
    left: 680px;
    bottom: 0;
    width: 550px;
    height: 454px;
    background-color: #55dfb4;
    z-index: 5;
  }
  section.benefits div.container div.articles article.benefits_article:nth-child(3):after {
    content: "";
    position: absolute;
    left: 770px;
    bottom: 80px;
    width: 320px;
    height: 320px;
    background: url(../assets/trumpet.png) no-repeat center bottom/contain;
    z-index: 10;
  }
  section.benefits div.container div.articles article.benefits_article:nth-child(3) div.benefits_data {
    width: 100%;
    height: 100%;
    position: relative;
  }
  section.benefits div.container div.articles article.benefits_article:nth-child(3) div.benefits_data:after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 320px;
    height: 10px;
    border-bottom: 4px solid #55dfb4;
  }
}
section.benefits div.container div.articles article.benefits_article div.benefits_img {
  height: 150px;
  width: 100%;
  position: relative;
}
section.benefits div.container div.articles article.benefits_article div.benefits_img.laptop:before {
  content: "";
  position: absolute;
  top: 20px;
  left: calc(50% + 100px - 95px);
  width: 90px;
  height: 90px;
  background-color: #fb3b64;
  transform: rotate(45deg);
  border-radius: 40px;
  z-index: 5;
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article div.benefits_img.laptop:before {
    top: -50px;
    left: 500px;
    height: 180px;
    width: 180px;
  }
}
section.benefits div.container div.articles article.benefits_article div.benefits_img.laptop:after {
  content: "";
  position: absolute;
  top: 40px;
  left: calc(50% - 95px);
  width: 192px;
  height: 102px;
  background: url(../assets/macbook.png) no-repeat center bottom/contain;
  z-index: 10;
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article div.benefits_img.laptop:after {
    top: -50px;
    left: 140px;
    height: 350px;
    width: 550px;
  }
}
section.benefits div.container div.articles article.benefits_article div.benefits_img.phone:before {
  content: "";
  position: absolute;
  top: 20px;
  left: calc(50% - 66px);
  width: 132px;
  height: 132px;
  background-color: #07ace6;
  transform: rotate(45deg);
  border-radius: 50%;
  z-index: 5;
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article div.benefits_img.phone:before {
    top: -70px;
    left: 100px;
    height: 400px;
    width: 400px;
  }
}
section.benefits div.container div.articles article.benefits_article div.benefits_img.phone:after {
  content: "";
  position: absolute;
  top: 25px;
  left: calc(50% - 55px);
  width: 162px;
  height: 132px;
  background: url(../assets/iphone.png) no-repeat center bottom/contain;
  z-index: 10;
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article div.benefits_img.phone:after {
    top: -80px;
    left: 100px;
    height: 450px;
    width: 550px;
  }
}
section.benefits div.container div.articles article.benefits_article div.benefits_img.trumpet:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 195px;
  background-color: #55dfb4;
  z-index: 5;
}
section.benefits div.container div.articles article.benefits_article div.benefits_img.trumpet:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 90%;
  height: 195px;
  background: url(../assets/trumpet.png) no-repeat center bottom/contain;
  z-index: 10;
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article div.benefits_img.trumpet {
    display: none;
  }
}
section.benefits div.container div.articles article.benefits_article div.benefits_data h3.benefits_title {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
  margin: 20px;
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article div.benefits_data h3.benefits_title {
    font-size: 2.3em;
    margin-bottom: 30px;
    margin-right: 100px;
  }
}
section.benefits div.container div.articles article.benefits_article div.benefits_data p.benefits_text {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000;
  margin: 20px;
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article div.benefits_data p.benefits_text {
    font-size: 1em;
  }
}
@media only screen and (min-width:1352px) {
  section.benefits div.container div.articles article.benefits_article div.benefits_data {
    padding: 0 0 50px 0;
    width: 686px;
  }
}

section.pricing {
  width: 100vw;
  background-color: #fff;
}
section.pricing div.container div.pricing {
  margin: 0;
  padding: 50px 18px;
}
section.pricing div.container div.pricing h3.pricing_title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
}
section.pricing div.container div.pricing div.pricing_packages {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
  position: relative;
}
@media only screen and (min-width:1352px) {
  section.pricing div.container div.pricing div.pricing_packages div.single_package {
    margin: 40px 40px;
    padding-bottom: 60px;
    flex-direction: column;
  }
}
section.pricing div.container div.pricing div.pricing_packages div.single_package div.single_package_info {
  margin: 30px 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package div.single_package_info h4.package_title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package div.single_package_info p.package_price {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.8em;
  margin-left: 40px;
  position: relative;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package div.single_package_info p.package_price:after {
  content: "$";
  position: absolute;
  left: -35px;
  top: 0;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package div.single_package_info p.package_offer {
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  font-weight: 800;
}
@media only screen and (min-width:1352px) {
  section.pricing div.container div.pricing div.pricing_packages div.single_package div.package_options {
    margin-left: 40px;
  }
}
section.pricing div.container div.pricing div.pricing_packages div.single_package div.package_options p.option {
  font-family: "Open Sans", sans-serif;
  position: relative;
  line-height: 2em;
}
@media only screen and (min-width:1352px) {
  section.pricing div.container div.pricing div.pricing_packages div.single_package div.package_options p.option {
    line-height: 2.5em;
  }
}
section.pricing div.container div.pricing div.pricing_packages div.single_package div.package_options p.option.present:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -20px;
  top: 10px;
  background: url(../assets/ckechmark-1.svg) no-repeat;
}
@media only screen and (min-width:1352px) {
  section.pricing div.container div.pricing div.pricing_packages div.single_package div.package_options p.option.present:after {
    top: 15px;
  }
}
section.pricing div.container div.pricing div.pricing_packages div.single_package div.package_options p.option.absent:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -20px;
  top: 10px;
  background: url(../assets/close.svg) no-repeat;
}
@media only screen and (min-width:1352px) {
  section.pricing div.container div.pricing div.pricing_packages div.single_package div.package_options p.option.absent:after {
    top: 15px;
  }
}
section.pricing div.container div.pricing div.pricing_packages div.single_package a.package_link {
  position: absolute;
  bottom: -25px;
  left: calc(50% - 75px);
  display: block;
  padding: 16px 57px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.basic {
  width: 80vw;
  border: 1px solid #fb3b64;
  border-radius: 18px;
  position: relative;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.basic div.single_package_info p.package_price {
  color: #fb3b64;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.basic a.package_link {
  border: 1px solid #fb3b64;
  background-color: #fb3b64;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.professional {
  width: 90vw;
  border: 1px solid #07ace6;
  box-shadow: 5px 10px 27px #07ACE629;
  border-radius: 18px;
  position: relative;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.professional div.single_package_info p.package_price {
  color: #07ace6;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.professional a.package_link {
  border: 1px solid #07ace6;
  background-color: #07ace6;
  box-shadow: 5px 10px 14px #07ACE629;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.premium {
  width: 80vw;
  border: 1px solid #55dfb4;
  border-radius: 18px;
  position: relative;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.premium div.single_package_info p.package_price {
  color: #55dfb4;
}
section.pricing div.container div.pricing div.pricing_packages div.single_package.premium a.package_link {
  border: 1px solid #55dfb4;
  background-color: #55dfb4;
}
@media only screen and (min-width:1352px) {
  section.pricing div.container div.pricing div.pricing_packages {
    flex-direction: row;
  }
}

section.contact {
  width: 100vw;
}
section.contact div.container div.contact {
  width: 100%;
  padding-bottom: 64px;
}
@media only screen and (min-width:1352px) {
  section.contact div.container div.contact {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
section.contact div.container div.contact div.contact_info {
  padding: 0 30px;
}
@media only screen and (min-width:1352px) {
  section.contact div.container div.contact div.contact_info {
    width: 450px;
    padding: 30px 0;
  }
}
section.contact div.container div.contact div.contact_info h2.contact_title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 5px;
}
section.contact div.container div.contact div.contact_info p.contact_description {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
}
section.contact div.container div.contact div.contact_info div.contact_details {
  margin: 45px 0;
}
section.contact div.container div.contact div.contact_info div.contact_details p.contact_email,
section.contact div.container div.contact div.contact_info div.contact_details p.contact_phone {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #A5A5A5;
  margin-left: 30px;
  margin-bottom: 10px;
  position: relative;
}
section.contact div.container div.contact div.contact_info div.contact_details p.contact_email::before {
  content: url(../assets/mailicon.svg);
  position: absolute;
  left: -30px;
  top: 0;
  display: block;
}
section.contact div.container div.contact div.contact_info div.contact_details p.contact_phone::before {
  content: url(../assets/phoneicon.svg);
  position: absolute;
  left: -30px;
  top: 0;
  display: block;
}
section.contact div.container div.contact form#contact_form {
  padding: 30px;
}
@media only screen and (min-width:1352px) {
  section.contact div.container div.contact form#contact_form {
    width: 450px;
    padding: 30px 0;
  }
}
section.contact div.container div.contact form#contact_form label {
  text-transform: uppercase;
  color: #07ace6;
  font-size: 0.7em;
  letter-spacing: 3.28px;
  font-weight: 800;
  display: block;
}
section.contact div.container div.contact form#contact_form > input {
  width: 100%;
  height: 43px;
  border: none;
  border-bottom: 2px solid #A5A5A5;
  margin: 0 0 45px 0;
}
section.contact div.container div.contact form#contact_form > input:focus {
  border: 1px dotted #fb3b64;
}
section.contact div.container div.contact form#contact_form input#email {
  margin-bottom: 31px;
}
section.contact div.container div.contact form#contact_form div.contact_form_checkbox_area {
  position: relative;
  width: 100%;
}
section.contact div.container div.contact form#contact_form div.contact_form_checkbox_area input#form_input_checkbox {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 124px;
  z-index: 10;
}
section.contact div.container div.contact form#contact_form div.contact_form_checkbox_area input#form_input_checkbox:checked + span.form_img_checkbox {
  position: absolute;
  background: url(../assets/checkmark.svg) no-repeat center;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 4px;
  display: inline-block;
}
section.contact div.container div.contact form#contact_form div.contact_form_checkbox_area span.form_img_checkbox {
  position: absolute;
  border: 1px solid grey;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 4px;
}
section.contact div.container div.contact form#contact_form div.contact_form_checkbox_area span.form_img_checkbox:focus {
  border: 1px dotted #fb3b64;
}
section.contact div.container div.contact form#contact_form div.contact_form_checkbox_area label.form_statement {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 300;
  margin-left: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  color: #707070;
  padding-bottom: 21px;
}
section.contact div.container div.contact form#contact_form div.contact_form_checkbox_area label.form_statement:focus {
  border: 1px dotted #fb3b64;
}
section.contact div.container div.contact form#contact_form button#contact_form_btn {
  display: block;
  float: right;
  background-color: #07ace6;
  padding: 16px 67px;
  border: 1px solid #07ace6;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  box-shadow: 5px 10px 14px #07ACE629;
}

footer.footer {
  width: 100vw;
  background-color: #f7f7f7;
  box-shadow: 0px -5px 40px #00000029;
}
footer.footer div.container div.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 30px 22px 17px;
}
footer.footer div.container div.footer div.fotter_logo h2.footer_logo {
  font-size: 1.6em;
  color: #08a6e4;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
footer.footer div.container div.footer div.fotter_logo p.footer_description {
  font-size: 0.6em;
  color: #A5A5A5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
footer.footer div.container div.footer div.footer_links a img {
  margin-left: 20px;
}

body {
  box-sizing: border-box;
  font-family: "Open-Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-width: 300px;
}
@media only screen and (min-width:1352px) {
  .container {
    width: 1352px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */
