@import "settings/reset.scss";
@import "settings/fonts.scss";
@import "settings/variables.scss";
@import "elements/header.scss";
body {
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

.container {
    width: 1352px;
}