@import "settings/reset.scss";
@import "settings/fonts.scss";
@import "settings/variables.scss";
@import "elements/header.scss";
@import "elements/opening.scss";
body {
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

.container {
    width: 100%;
    min-width: 260px;
    padding: 0 15px;
    @media #{$desktop} {
        width: 1352px;
        margin: 0 auto;
    }
}