@import "settings/reset.scss";
@import "settings/fonts.scss";
@import "settings/variables.scss";
@import "elements/header.scss";
@import "elements/opening.scss";
@import "elements/benefits.scss";
@import "elements/pricing.scss";
@import "elements/contact.scss";
@import "elements/footer.scss";
body {
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    min-width: 300px;
    @media #{$desktop} {
        width: 1352px;
        margin: 0 auto;
    }
}