$color-bg:rgba(0, 0, 0, 0.16);
$color-btn: rgba(8, 166, 228, 1);
$color-red:rgba(251, 59, 100, 1);
$color-green: rgba(85, 223, 180, 1);
$color-blue:rgba(7, 172, 230, 1);
$font-logo:'Raleway',
sans-serif;
$font-text:'Open Sans',
sans-serif;