section.contact {
    width: 100vw;
    div.container {
        div.contact {
            width: 100%;
            padding-bottom: 64px;
            @media #{$desktop} {
                display: flex;
                justify-content: center;
                padding: 0;
            }
            div.contact_info {
                padding: 0 30px;
                @media #{$desktop} {
                    width: 450px;
                    padding: 30px 0;
                }
                h2.contact_title {
                    font-family: $font-logo;
                    font-size: 2.5em;
                    font-weight: 400;
                    margin-bottom: 5px;
                }
                p.contact_description {
                    font-family: $font-text;
                    font-size: 1em;
                    font-weight: 600;
                }
                div.contact_details {
                    margin: 45px 0;
                    p.contact_email,
                    p.contact_phone {
                        font-family: $font-text;
                        font-size: 1em;
                        font-weight: 600;
                        color: #A5A5A5;
                        margin-left: 30px;
                        margin-bottom: 10px;
                        position: relative;
                    }
                    p.contact_email::before {
                        content: url(../assets/mailicon.svg);
                        position: absolute;
                        left: -30px;
                        top: 0;
                        display: block;
                    }
                    p.contact_phone::before {
                        content: url(../assets/phoneicon.svg);
                        position: absolute;
                        left: -30px;
                        top: 0;
                        display: block;
                    }
                }
            }
            form#contact_form {
                padding: 30px;
                @media #{$desktop} {
                    width: 450px;
                    padding: 30px 0;
                }
                label {
                    text-transform: uppercase;
                    color: $color-blue;
                    font-size: .7em;
                    letter-spacing: 3.28px;
                    font-weight: 800;
                    display: block;
                }
                &>input {
                    width: 100%;
                    height: 43px;
                    border: none;
                    border-bottom: 2px solid #A5A5A5;
                    margin: 0 0 45px 0;
                    &:focus {
                        border: 1px dotted $color-red;
                    }
                }
                input#email {
                    margin-bottom: 31px;
                }
                div.contact_form_checkbox_area {
                    position: relative;
                    width: 100%;
                    input#form_input_checkbox {
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 124px;
                        z-index: 10;
                        &:checked+span.form_img_checkbox {
                            position: absolute;
                            background: url(../assets/checkmark.svg) no-repeat center;
                            top: 0;
                            left: 0;
                            width: 16px;
                            height: 16px;
                            margin: 4px;
                            border-radius: 4px;
                            display: inline-block;
                        }
                    }
                    span.form_img_checkbox {
                        position: absolute;
                        border: 1px solid grey;
                        top: 4px;
                        left: 4px;
                        width: 16px;
                        height: 16px;
                        padding: 4px;
                        border-radius: 4px;
                        &:focus {
                            border: 1px dotted $color-red;
                        }
                    }
                    label.form_statement {
                        text-transform: none;
                        letter-spacing: 0;
                        font-weight: 300;
                        margin-left: 40px;
                        font-family: $font-text;
                        font-size: .75em;
                        color: #707070;
                        padding-bottom: 21px;
                        &:focus {
                            border: 1px dotted $color-red;
                        }
                    }
                }
                button#contact_form_btn {
                    display: block;
                    float: right;
                    background-color: $color-blue;
                    padding: 16px 67px;
                    border: 1px solid $color-blue;
                    border-radius: 30px;
                    color: #fff;
                    text-decoration: none;
                    text-align: center;
                    font-size: .8em;
                    font-weight: 600;
                    box-shadow: 5px 10px 14px #07ACE629;
                }
            }
        }
    }
}