div.header {
    width: 100vw;
    div.container {
        div.main_logo_navigation {
            width: 100%;
            height: 70px;
            display: flex;
            div.logo {
                font-size: 32px;
                color: $color-logo;
            }
            div.header_navigation {
                input {}
                span {}
                nav.header_navigation {
                    ul {
                        a {
                            li {}
                        }
                    }
                }
            }
        }
    }
}